:root {
  --primary-color: #3f2323;
  --secondary-color: #222;
  --bg: rgba(200, 200, 200, 0.4);
}

.btn {
  display: block;
  width: fit-content;
  font-size: 12px;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
}

.login-container {
  margin: 8rem 0;
  padding: 2rem 4rem;
  background: rgb(74, 8, 12);
  border-radius: 16px;
  color: white;
}

.login-container input {
  display: block;
  padding: 0.75rem 1.25rem;
  font-size: 12px;
  outline: none;
  width: 100%;
  border: 0;
  margin: 1rem 0;
  border-radius: 12px;
}

/* navbar styles */
.dropdown {
  position: relative;
}

.dropdown:hover ul {
  display: flex;
}

.dropdown ul {
  display: none;
  position: absolute;
  top: 2rem;
  left: 0;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0.2rem;
  background: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 8px;
  width: 180px;
}

.dropdown ul a {
  padding: 2px;
  border-radius: 0;
}
